@import '../node_modules/bootstrap/dist/css/bootstrap.css';
$toggleColor: #298FE3;

body{
	font-family: 'Open Sans';
}

h4{
	color: #818284;
}

p{
	color: #BDBEBF;
}


main{
	padding:0 2.5em;
}

.navbar-default{
	background-color:#fff;
	border-color:#fff;
	margin-bottom:0;
	a.btn.btn-primary{
	color:white;
		}

		.navbar-brand{
			color:#2D90CE;
			font-size:1.5em;
			padding: 15px 10px;
				span{
					color: #56646E;
				}
			}
}


.navbar-toggle.collapsed{
		background-color:$toggleColor;
		border-color:$toggleColor;
		padding: 6px 5px;

		.icon-bar{
			background-color:#fff;
			width:25px;
			height:4px;
			border-radius:2px;

		}
	}
.jumbotron{
	background-image:url("/images/hero-dark.jpg");
	background-size:cover;
	padding:5em;

		.container{
			padding: 2.5em 4em;
		}
		h1,h3{
			color:white;
			text-align:center;
			text-shadow: 1px 1px 2px rgba(0,0,0,.9); 
		}
		h1{
			font-size: 4em;
		}
		h3{
			font-size:1.5em;
		}

}


hr{
	border: 1px solid #ccc;
	margin-bottom: 1em;
}
.well{
	background-color:#EFF0F1;

}
.thumbnail{
	border: none;
	.caption{
		color: #999DA0;
	}
}

.grlBike{
	padding:1em;
}
footer{
	background-color:#3A414B;
	overflow:hidden;
	a{
		text-decoration: underline;
		color: #BDBEBF;
		
	}
}
.contactUsPad{
	padding-top:1em;
}

@media screen and (min-width:768px){
	.jumbotron{
		overflow:hidden;
		h1{
			font-size: 2.5em;
			text-align:right;
			margin: 0 auto;
			padding: 2em 0;
		}
		h3{
			font-size: 1em;
			text-align:left;
			margin: 0 auto;
			padding: 5em 0;
		}
	}
	.thumbnail .caption {
		padding:0;
		h3{
		font-size: 1em;
	}
	}
	footer{
		padding:1em;
		.contactUsPad{
		padding-top:0;
		}
	}
}
@media screen and (min-width:992px){

	.jumbotron{
		h1{
			
			font-size:3em;
		}
		h3{
			font-size:1.2em;
		}
	}
}
@media screen and (min-width:1200px){
	.jumbotron{
		h1{
			text-align:center;
			padding: 1em 0;
		}
		h3{
			text-align:center;
			line-height:1.5em;
			padding:0;
		}
	}
}